html
	head
		link(href="/css/style.css", rel="stylesheet", type="text/css")
		div.gt-wrap
			div.gt-content
				div.gt-squeeze
					div.button-left.button-margin-left
						div.gt-prof-form
							h1 WELCOME ADMIN
					
							
	body
		div.gt-wrap
			div.gt-content
				div.gt-squeeze
					div.button-left.button-margin-left
						div.tableMain
							table(border='1', class="mainTable")
								thead
									link(href="/css/style.css", rel="stylesheet", type="text/css")

									tr
										th Teacher
									tbody
										each item in items
											tr
											
												td
													a(href='/specificData/'+item.tName) #{item.tName}
						div.linker
							ul
								li
									a(href='/studentData') StudentData
								li
									a(href='/data') ClassData
								li
									a(href='/teacherList') TeacherData
								li
									a(href='/joinedTeacherClass') Class and Professor
						
						
												
												
											

									

